<ion-view title="Cart">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Items in cart</ion-item>
            <ion-item ng-hide="items.length">No items in cart</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="item in items">
                <img ng-src="{{ item.stock_detail.product_variant.product_detail.images_array[0] }}">
                <h2>{{ item.stock_detail.product_variant.product_detail.name }}</h2>
                <p>
                    <b>
                        {{ item.stock_detail.product_variant.product_detail.brand_name }}<br>
                        {{ item.stock_detail.product_variant.product_parameter_value }} {{ item.stock_detail.product_variant.product_parameter.unit }} x {{ item.quantity }}
                    </b>
                    <br>Rs. {{ (+item.quantity)*(+item.stock_detail.marked_price) }}
                    <br>
                    <!--<button class="button ion-edit icon-left button-small button-positive">Edit</button>-->
                    <button class="button ion-trash-b icon-left button-small button-assertive" ng-click="deleteItem(item.id, $index)">Remove</button>
                </p>
            </ion-item>
            <ion-item class="item-divider">Total: Rs. {{ total }}</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 24px;"></div>
        <ion-list>
            <ion-item class="item-divider">Pick time slot</ion-item>
            <ion-item ng-hide="timeSlots.length">No time slots found</ion-item>
            <ion-radio ng-repeat="timeSlot in timeSlots" ng-model="$parent.selectedTimeSlot" ng-change="selectTimeSlot(timeSlot.id)" ng-value="timeSlot.id">
                {{ timeSlot.name}}
            </ion-radio>
            <!--<ion-radio name="time">
                <b>Afternoon</b>&nbsp;(12 PM - 4 PM)</ion-radio>
            <ion-radio name="time">
                <b>Evening</b>&nbsp;(4 PM - 8 PM)</ion-radio>
            <ion-radio name="time">
                <b>Night</b>&nbsp;(8 PM - 12 AM)</ion-radio>-->
        </ion-list>
        <div class="spacer" style="width: 283px; height: 23px;"></div>
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-divider">Delivery address</ion-item>
            <ion-item ng-hide="addresses.length">No addresses found</ion-item>
            <ion-radio name="address" ng-repeat="address in addresses" ng-model="$parent.selectedAddress" ng-change="selectAddress(address.id)" ng-value="address.id">
                {{ address.address }}
            </ion-radio>
            <!--<ion-radio name="address">
                Banaful Abasan, Hanapara
                <br>Kestopur, Kolkata - 700048
            </ion-radio>-->
        </ion-list>
        <button id="cart-button7" ng-class="{disabled:!items.length}" class="button button-balanced button-block icon-left ion-card" ng-click="checkout(selectedAddress, selectedTimeSlot)">Pay now</button>
    </ion-content>
</ion-view>
