<ion-view title="Location: {{ city.name }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="query">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Products">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-divider">Browse by category</ion-item>
            <ion-item ng-hide="categories.length">No categories found</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="category in categories" ui-sref="zopKart.products({category: category.id})" ng-click="selectCategory(category)">
                <img ng-src="{{ category.image }}">
                <h2>{{ category.name }}</h2>
                <p>{{ category.description }}</p>
            </ion-item>
            <!--<ion-item ui-sref="zopKart.categoryGrocery">
                <i class="icon ion-egg">&nbsp;Grocery</i>
            </ion-item>
            <ion-item ui-sref="zopKart.categoryGrocery">
                <i class="icon ion-ios-book">&nbsp;Stationery</i>
            </ion-item>
            <ion-item ui-sref="zopKart.categoryGrocery">
                <i class="icon ion-fork">&nbsp;Packaged foods</i>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
