<ion-view title="Order Confirmation" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Tickets Confirmed</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="item in order.items_list">
                <img ng-src="{{ item.stock_detail.product_variant.product.images_array[0] }}">
                <h2>{{ item.stock_detail.product_variant.product.name }}</h2>
                <p>
                    <b>
                        {{ item.stock_detail.product_variant.product.brand_name }}<br>
                        {{ item.stock_detail.product_variant.product_parameter_value }} {{ item.stock_detail.product_variant.product_parameter.unit }} x {{ item.quantity }}
                    </b>
                    <br>Rs. 660
                </p>
            </ion-item>
        </ion-list>
        <button ui-sref="menu.bookMovie" id="selectClass-button290" class="button button-balanced  button-block">Done</button>
    </ion-content>
</ion-view>
