<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">E-mail address</span>
                    <input type="email" name="email" ng-model="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 30px;"></div>
            <a ng-click="login(email, password)" id="login-button2" class="button button-positive  button-block icon-left ion-log-in">Log in</a>
            <a ui-sref="signup" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
