<ion-view title="Product Detail">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img ng-src="{{ product.images[0] }}" width="300px" height="300px">
        </div>
        <div class="list card">
            <div class="item item-divider">
                <i class="icon ion-information-circled"></i>&nbsp;Specifications</div>
            <div class="item item-body">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    <b>Name:&nbsp;</b>
                                </th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th>
                                    <b>Brand:&nbsp;</b>
                                </th>
                                <td>{{ product.brand_name }}</td>
                            </tr>
                            <tr>
                                <th>
                                    <b>Category:&nbsp;</b>
                                </th>
                                <td>{{ product.category_name }}</td>
                            </tr>
                            <!--<tr>
                                <th>
                                    <b>Size:&nbsp;</b>
                                </th>
                                <td>1 kg</td>
                            </tr>-->
                            <tr>
                                <th>
                                    <b>Description:&nbsp;</b>
                                </th>
                                <td>{{ product.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-divider">
                <i class="icon ion-pricetags"></i>&nbsp;Variants
            </ion-item>
            <ion-radio ng-repeat="variant in product.variants" ng-model="$parent.selectedVariant" ng-value="variant.stocks[0].stock_id">
                <b>{{ variant.product_parameter_value }} {{ variant.parameter_unit }}</b>- Rs. {{ variant.stocks[0].marked_price }}<br>
                {{ variant.stocks[0].availability }} units in stock
            </ion-radio>
            <!--<ion-radio>
                <b>Vendor 2</b>- Rs. 320
            </ion-radio>
            <ion-radio>
                <b>Vendor 3</b>- Rs. 290
            </ion-radio>-->
        </ion-list>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Quantity</span>
                <select ng-model="quantity">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
            <button id="productDetail-button5" class="button button-positive  button-block icon-left ion-android-cart" ng-click="addToCart(quantity, selectedVariant)" ng-class="{disabled:!quantity||!selectedVariant}">Add to cart</button>
            <a ui-sref="zopKart.cart" id="productDetail-button6" class="button button-balanced  button-block icon-left ion-card">Checkout</a>
        </form>
    </ion-content>
</ion-view>
