<ion-view title="Category: {{ category.name }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="query">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Products">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-divider">Browse products</ion-item>
            <ion-item ng-hide="products.length">No products in category</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="product in products" ui-sref="zopKart.productDetail({product:product.id})" ng-click="selectProduct(product)">
                <img ng-src="{{ product.images[0] }}">
                <h2>{{ product.name }}</h2>
                <p>
                    <b>{{ product.brand_name }}</b>
                </p>
            </ion-item>
            <!--<ion-item class="item-thumbnail-left" ui-sref="zopKart.productDetail">
                <img src="img/KkA78ri2QR6Xzc2Lcaxh_moong_dal.jpg">
                <h2>Moong Dal</h2>
                <p>
                    <b>Unbranded</b>
                    <br>0.5 kg
                    <br>Rs. 160</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="zopKart.productDetail">
                <img src="img/RpHPC5tlS1SeUOBtl9fU_tata_salt.jpg">
                <h2>Tata Salt</h2>
                <p>
                    <b>Tata</b>
                    <br>1 kg
                    <br>Rs. 100</p>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
