<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="User Name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date of birth</span>
                    <input type="date" placeholder="01-01-1994">
                </label>
                <label class="item item-select">
                    <span class="input-label">Gender</span>
                    <select>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Somraj</option>
                    </select>
                </label>
                <button id="profile-button9" class="button button-balanced  button-block icon-left ion-edit">Edit profile</button>
            </form>
            <ion-item class="item-divider">Addresses</ion-item>
            <ion-item>6/3B, Gouri Bari Lane,
                <br>Kolkata - 700004</ion-item>
            <ion-item>Banaful Abasan, Hanapara
                <br>Kestopur, Kolkata - 700048</ion-item>
        </ion-list>
        <form class="list">
            <ion-list>
                <ion-item class="item-divider">Add a Delivery Address</ion-item>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Pin code</span>
                    <input type="text" placeholder="" ng-model="pin">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="text" placeholder="" ng-model="phone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="" ng-model="address">
                </label>
            </ion-list>
            <button id="profile-button8" class="button button-positive  button-block" ng-click="adddeliveryaddress(name, phone, address, pin)">Add Delivery Address</button>
        </form>
    </ion-content>
</ion-view>