<ion-view title="Select Location">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="zopKart.locationSaltLake" id="selectLocation-button1" class="button button-positive  button-block icon-left ion-location">Locate automatically</a>
        <ion-list>
            <ion-item class="item-divider">Or pick location</ion-item>
            <label class="item item-input" name="location">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <ion-item ng-hide="cities.length">No cities found</ion-item>
            <ion-item ng-repeat="city in cities" ui-sref="zopKart.categories({city: city.id})" ng-click="selectCity(city)">{{ city.name }}</ion-item>
            <!--<ion-item ui-sref="zopKart.locationSaltLake">Jadavpur</ion-item>
            <ion-item ui-sref="zopKart.locationSaltLake">Lake Town</ion-item>
            <ion-item ui-sref="zopKart.locationSaltLake">New Town</ion-item>
            <ion-item ui-sref="zopKart.locationSaltLake">Garia</ion-item>
            <ion-item ui-sref="zopKart.locationSaltLake">Sovabazar</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
