<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <ion-item class="item-divider">User details</ion-item>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="name">
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="" ng-model="email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="text" placeholder="" ng-model="phone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="password" minlength="5">
                </label>
                <label class="item item-input">
                    <span class="input-label">Repeat password</span>
                    <input type="password" placeholder="" ng-model="confirm_password" minlength="5">
                </label>
                <ion-item class="item-divider">Address details</ion-item>
                <label class="item item-input">
                    <span class="input-label">Address Line 1</span>
                    <input type="text" placeholder="" ng-model="address_1">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address Line 2</span>
                    <input type="text" placeholder="" ng-model="address_2">
                </label>
                <label class="item item-input">
                    <span class="input-label">Pin code</span>
                    <input type="text" placeholder="" ng-model="pin">
                </label>
                <!--<label class="item item-select">
                    <span class="input-label">Locality</span>
                    <select>
                        <option>Salt Lake</option>
                        <option>Kasba</option>
                        <option>Gariahat</option>
                        <option>Dum Dum</option>
                    </select>
                </label>-->
            </ion-list>
            <a id="signup-button4" class="button button-positive  button-block icon-left ion-android-person-add" ng-click="signup(name, email, phone, password, confirm_password, address_1, address_2, pin)">Sign up</a>
        </form>
    </ion-content>
</ion-view>
