<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">ZopKart</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="zopKart.locationSaltLake" menu-close="">
                    <i class="icon ion-home"></i>&nbsp;Home</ion-item>
                <ion-item ui-sref="zopKart.cart" menu-close="">
                    <i class="icon ion-ios-cart butt"></i>&nbsp;Cart</ion-item>
                <ion-item ui-sref="zopKart.profile" menu-close="">
                    <i class="icon ion-person"></i>&nbsp;Profile</ion-item>
                <ion-item ng-click="logout()" menu-close="">
                    <i class="icon ion-log-out"></i>&nbsp;Log out</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
